# Fifa 20 Ultimate Team Player/Prices Analysis

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
<li><a href="#statistical">Statistical Tests</a></li>
</ul>

<a id='intro'></a>
## Introduction

>

<a id='wrangling'></a>
## Data Wrangling

### Gather

In [9]:
import zipfile
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline
random.seed(42)

In [ ]:
# Extract contents from Premier League zip file 

with zipfile.ZipFile('fifa-20-ultimate-team-players-dataset.zip', 'r') as myzip:
    myzip.extractall()

In [3]:
# Read Players CSV

df_16_players = pd.read_csv('fut_bin16_players.csv')
df_17_players = pd.read_csv('fut_bin17_players.csv')
df_18_players = pd.read_csv('fut_bin18_players.csv')
df_19_players = pd.read_csv('fut_bin19_players.csv')
df_20_players = pd.read_csv('fut_bin20_players.csv')

/Users/Eduardo/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# Read Prices CSV

df_16_prices = pd.read_csv('fut_bin16_prices.csv')
df_17_prices = pd.read_csv('fut_bin17_prices.csv')
df_18_prices = pd.read_csv('fut_bin18_prices.csv')
df_19_prices = pd.read_csv('fut_bin19_prices.csv')
df_20_prices = pd.read_csv('fut_bin20_prices.csv')

### Assess

In [8]:
df_16_players.head()

,futbin_id,player_name,player_extended_name,quality,revision,origin,overall,club,league,nationality,...,ps4_max,ps4_prp,xbox_last,xbox_min,xbox_max,xbox_prp,pc_last,pc_min,pc_max,pc_prp
0,4537,Pelé,Edson Arantes Nascimento,Gold - Rare,Legend,NaN,95,Legends,Legends,Brazil,...,5000.0,0,6499000.0,480000.0,9200000.0,69,NaN,NaN,NaN,0
1,4538,Messi,Lionel Messi,Gold - Rare,Normal,NaN,94,FC Barcelona,Liga BBVA,Argentina,...,2700000.0,33,244000.0,35000.0,650000.0,33,NaN,NaN,NaN,0
2,4539,Ronaldo,Cristiano Ronaldo,Gold - Rare,Normal,NaN,93,Real Madrid,Liga BBVA,Portugal,...,3200000.0,33,290000.0,60000.0,1100000.0,22,NaN,NaN,NaN,0
3,4540,Beckenbauer,Franz Beckenbauer,Gold - Rare,Legend,NaN,93,Legends,Legends,Germany,...,5000.0,0,727000.0,75000.0,1400000.0,49,NaN,NaN,NaN,0
4,4541,Maldini,Paolo Maldini,Gold - Rare,Legend,NaN,92,Legends,Legends,Italy,...,5000.0,0,824000.0,80000.0,1500000.0,52,NaN,NaN,NaN,0

### Clean

#### 
>

<a id='eda'></a>
## Exploratory Data Analysis

### Research Question 1  - 
> **Anwser** =